/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 20px 0;
  background-color: #dad8df;
  background-image: url("sassicon.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#portfolio{
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  margin: 0;
}
#portbutton{
background-color: #1c3279;
box-shadow: 8px 8px 9px black;
margin: 0 40px 0 0;
border-radius: 3px;
display: flex;
align-items: center;
}
#portbutton h3{
  color: #fff;
  font-size: 20px;
  padding: 3px;
}
#portbutton a{
  display: block;
  background-color: gainsboro;
  block-size: 30px;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
}
#portbutton a:hover{
  background-color: rgb(152, 194, 196);
  block-size: 35px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 3px #699;
}

@media screen and (min-width: 360px) {
  .wrapper {
    max-width: 360px;
  }
}

@media screen and (min-width: 480px) {
  .wrapper {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}

.button a, .buttonGroup a {
  display: inline-block;
  border: solid 2px #699;
  padding: 5px;
  background-color: #fff;
  color: #699;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.button a:hover, .buttonGroup a:hover {
  background-color: #699;
  color: #fff;
}

.button {
  text-align: right;
  padding: 5px;
}

.button a {
  border-radius: 5px;
}

.buttonGroup {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonGroup li:first-child a {
  border-radius: 5px 0px 0px 5px;
}

.buttonGroup li:last-child a {
  border-radius: 0px 5px 5px 0px;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3c2c2), to(#699));
  background: linear-gradient(#a3c2c2, #699);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-family: source-serif-pro, Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: #c69;
}

nav {
  background-color: #c69;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li a {
  display: block;
  padding: 2px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-family: source-serif-pro, Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #68717f;
}

section {
  margin: 20px 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section p {
  color: #68717f;
  font-size: 1rem;
}

section p a {
  color: #699;
  text-decoration: none;
}

section p a:hover {
  text-decoration: underline;
}

article {
  width: 70%;
  text-align: justify;
}

aside {
  width: 30%;
  padding-left: 40px;
}

footer {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c69), to(#73264d));
  background: linear-gradient(#c69, #73264d);
}

footer p {
  color: #fff;
  font-size: 0.75rem;
  font-style: italic;
}

footer p a {
  color: #dad8df;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */