body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen;
    text-align: center;
    color: white;
    font-weight: bold;
}
/***********  PORTFOLIO BUTTON  ***********************/
#portfolio{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    margin: 0;
}
  #portbutton{
  background-color: #1c3279;
  box-shadow: 8px 8px 9px black;
  margin: 0 40px 0 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  }
  #portbutton h3{
    color: #fff;
    font-size: 20px;
    padding: 3px;
  }
  #portbutton a{
    display: block;
    background-color: gainsboro;
    block-size: 30px;
    border-radius: 5px;
    padding: 2px;
    margin: 4px;
  }
  #portbutton a:hover{
    background-color: rgb(152, 194, 196);
    block-size: 35px;
}

/*******************************************************/

h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
button{
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 2px;
    margin: 2px auto;
}
span{
    background-color: #fff;
}
div{
    margin: 5px auto;
}