@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Domine', sans-serif;
    background-color: #64a1fd;
}
header{
    background-color: #1c3279;
    width: 100%;
    padding: 2px;
    position: fixed;
    overflow: hidden;
}
#portfolio{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#portfolio h1{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-top: #64a1fd double 3px;
    border-bottom: #64a1fd double 3px;
    padding: 6px 0;
}
#portfolio a{
    display: block;
    background-color: #e2f1f3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    padding: 2px 2px 0 2px;
    margin: 2px 0;
}
main{
    width: 98%;
    margin: 0 auto;
    background-color: #e2f1f3;
    box-shadow: 0 10px 20px 0 #1c3279;
    border:thin 1px #1c3279;
    padding-top: 52px;
    padding-bottom: 30px;
}
#titreun, #titretrois{
    background-image: linear-gradient(rgba(20, 20, 50, 0.6), rgba(20, 20, 50, 0.6)), url("images/workdev.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 100px;
}
#titreun{
    background-position: top;
}
#titretrois{
    background-position: bottom;
}
#titreun h2, #titretrois h2{
    text-align: center;
    font-size: 21px;
    color: #fff;
}
#presentation{
    margin: 5.62rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 3.12rem;
    line-height: 30px;
    background-color: #e2f1f3;
    border-radius: 3px;
}
#titretrois h3{
    text-align: center;
}
#titretrois p{
    background-color: #64a1fd;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    width: 3.12rem;
    margin: 0 auto;
    border: silver solid 1px;
    text-align: center;
}
#titretrois #presentation a{
    color: #fff;    
}
h3{
    font-weight: 700;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    list-style: none;
}
.mainContent{
    padding: 4.37rem 7.5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    margin: 0 auto;
}
.mainContent h2{
    text-align: center;
    font-size: 1.31rem;
}
.mainContent hr{
    margin: 4.37rem 0;
}
.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 15rem;
    height: 20rem; 
    margin: 10px;
    background-color: #e2f1f3;
}
.card img{
    border-radius: 5px 5px 0 0;
    padding: 0;
    margin: 0;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  /* Add some padding inside the card container */
.cardContainer p, .cardContainer h4{
    padding: 2px 16px;
}
.button {
    text-decoration: none;
    color: white;
    background-color: #000; 
}
a:hover {
    opacity: 0.8;
    font-size: 20px;
}
.card h4 {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #000;
}
.cardContainer p{
    padding-top: 10px;
} 
footer{
    background-color: #1c3279;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    color: #fff;
    padding: 10px 0 20px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    font-size: small;
}

@media screen and (min-width: 62rem) {
    .sections{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .card {
        width: 33%;
        height: 20rem;
        margin: 1rem;
    }
    #titretrois #presentation{
        width: 30%;
    }
}
  