@font-face {
  font-family: "Domine";
  src: url(./polices/Domine-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
  text-align: center;
  font-family: "Domine", arial, serif;
  background-color: gainsboro;
  width: 100vw;
  height: 100vh;
}
#portfolio{
  display: flex;
  justify-content: right;
}
#portbutton{
background-color: #1c3279;
box-shadow: 8px 8px 9px black;
margin: 0 40px 0 0;
border-radius: 3px;
display: flex;
align-items: center;
}
#portbutton h3{
  color: #fff;
  padding: 0 2px;
}
#portbutton a{
  display: block;
  background-color: gainsboro;
  block-size: 30px;
  border-radius: 5px;
  padding: 2px;
  margin: 0 4px;
}
#portbutton a:hover{
  background-color: rgb(152, 194, 196);
  block-size: 2rem;
}
p {  
  line-height: 1.6rem;
}
button {
  block-size: 3.1rem;
  font-size: 1rem;
  border-radius: 21px;
  text-transform: uppercase;
  padding: 12px;
}
button:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0,8));
  block-size: 3.2rem;
}
li {
  list-style: none;
}
/**************************  HEADER  *************************/
header {
  padding: 1rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-align: left;
}
#header {
  width: 80%;
  margin: 0 auto;
}
#header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
}
#header h1 a {
  text-decoration: none;
  color: white;
  font-family: "Domine", arial, serif;
}
#header p {
  padding-top: 0;
  margin-top: 0;
}
/***********************  TITRE 1  ***********************/
#banner-one {
  padding: 3rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/finances.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/**********************  SECTION 1  **********************/
section{
  padding: 2rem;
}
.img {
  width: 9rem;
  height: 9rem;
  padding: 1rem;
}
.text {
  text-align: justify;
}
hr.solid {
  border-top: 1px solid rgb(224, 224, 224);
  width: 50%;
  margin: 1rem auto;
  border-radius: 5px;
  background-color: #a1a3a7;
  color: #a1a3a7;
  border-bottom: none;
  height: 1px;
}
#premiere button {
  background-color: rgb(92, 9, 9);
  margin: 2.5rem auto;
}
#premiere button a {
  text-decoration: none;
  color: white;
  font-family: "Domine", arial, serif;
}
/***********************  TITRE 2  ***********************/
#banner-two {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ville.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4rem;
}
#banner-two h2 {
  text-transform: uppercase;
}
/***********************  SECTION 2  ***********************/
figure{
  padding: 1rem;
}
.png {
  width: 5rem;
  height: 5rem;
}
figcaption{
  font-weight: 700;
  padding-top: 1rem;
  font-size: 1.1rem;
}
.columns p{
  text-align: justify;
}
#coaching button {
  background-color: rgb(83, 65, 15);
}
#coaching button a {
  text-decoration: none;
  color: white;
  font-family: "Domine", arial, serif;
}
/***********************  TITRE 3  ***********************/
#banner-three {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/shake.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
}
#banner-three h2 {
  text-transform: uppercase;
}
/***********************  SECTION 3  ***********************/
#dd {
  max-width: 8rem;
  max-height: 8rem;
}
#present {
  min-height: 400px;
  align-items: center;
}
figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#photo button {
  background-color: rgb(42, 91, 155);
}
#photo button a {
  text-decoration: none;
  color: white;
  font-family: "Domine", arial, serif;
  font-size: 1rem;
}
#cv, #last {
  text-align: justify;
}
/***********************  TITRE 4  ***********************/
.banner-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/work.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
}
#contact {
  width: 80%;
  margin: auto;
  color: white;
}
.banner-four h2 {
  text-transform: uppercase;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#form {
  text-align: left;
  margin: auto;
}
form a {
  color: white;
  font-family: "Domine", arial, serif;
}
label {
  text-align: left;
  font-size: 1.2rem;
}
#boutton {
  text-align: center;
}
#button {
  block-size: 2.5rem;
  font-size: 1rem;
  border-radius: 21px;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Domine", arial, serif;
  background-color: black;
  color: white;
  cursor: pointer;
}
#button:hover{
  background-color: #fff;
  color: black;
}
#partage {
  /* width: 80%; */
  /* padding: 20px; */
  position: relative;
  color: white;
}
#partage ul {
  display: flex;
  justify-content: space-between;
  /* width: 33%; */
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
}
#partage a {
  margin: 0 0.2rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}
#partage a:hover{
  background-color: #fff;
  color: #000;
}
/**************************  FOOTER  *************************/
footer {
  color: white;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
}
#menu a {
  color: white;
  font-size: 1.1rem;
  line-height: 2rem;
}
#menu a:hover{
  font-size: 1.2rem;
}
/***************  TEST  ***********************/
.test {
  width: 70%;
  margin: auto;
  padding: 20px;
}
.test h3 {
  text-align: justify;
}
.test p {
  text-align: justify;
}
.test button {
  background-color: #335d29;
}
.test button a {
  color: white;
  text-decoration: none;
}
/******************** @MEDIA *************************/
@media only screen and (min-width: 62rem){
  .evolution {
    align-items: center;
  }
  .difficultes {
    align-items: center;
  }
  .devenir {
    align-items: center;
  }
  .evolution {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .difficultes {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .devenir {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .columns{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 40px auto;
  }
  .column{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px auto;
  }
  #present {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}