body{
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(seine.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: arial;
}
header{
	text-shadow: 0.5em 0.5em 0.6em black;
	margin: auto;
	color: white;
	text-align: center;
}
#contenu{
    width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cv{
	background-color: lightgray;
	color: black;
	margin: 0 auto;
	box-shadow: 8px 8px 9px black;
	border: 1px solid #181818;
	border-radius: 20px;
}
section{
	vertical-align: top;
	border-left: 1px solid #181818;
	padding-bottom: 10px;
	display: block;
	width: auto;
}
h3{
	background-color: #64a1fd;
	color: white;
	text-shadow: 1px 1px 1px black;
	margin: 0;
	text-align: center;
	font-size: 1.3rem;
}
#formation{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
span{
	font-weight: bold;
}
ul{
	padding-right: 1.8em;
}
ul a{
	color: black;
	text-shadow: none;
}
ul a:hover{
	font-size: 1.1em;
	color: black;
}
#portfolio{
	color: #FFF;
	background-color: #1c3279;
  	box-shadow: 8px 8px 9px black;
  	border-radius: 3px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 0.4rem;
}
footer{
	width: 70%;
	margin: auto;
	text-shadow: 3px 3px 2px black;
	color: white;
	text-align: center;
	display: flex;
	justify-content: right;
}
footer p 
{
	font-weight: bold;
}
@media only screen and (min-width: 62rem) {
	header{
		width: 70%;
	}
	header figure {
		display: block;
	} 
	header figure img{
		width: 5.5rem;
		height: 5.5rem;
	} 
	#liseret, #contenu{
		display: inline-block;
		vertical-align: top;
	}
	#liseret{   
		width: 5%;
		margin-right: 3%;
		height: 31.25em;
		background-color: #64a1fd;
		border: 1px solid #181818;
		box-shadow: 8px 8px 9px black;
		border-radius: 10px;
	}
	#contenu{
		flex-direction: row;
	}
	.cv {
		display: flex;
		flex-direction: row;
	}
	section{
		width: 25%;
	}
	#diplomes{
		border-top-right-radius: 20px;
	}
	#formation{
		border-top-right-radius: 0;
	}
	footer{
		font-size: 0.8em;
	}
}
