section{
    margin: 20px 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    p{
        color: $dark-grey;
        font-size: $font-size-regular;
        a{
            color: $green;
            text-decoration: none;
        }
        a:hover{
                text-decoration: underline;
        }
    }
}
article{
    width: 70%;
    text-align: justify;
}
aside{
    width: 30%;
    padding-left: 40px;
}