/* BASE STYLES */
body{
    background-color: #c9ddfa;
    color: #4a4a4a;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
/*  HEADER  */
#portfolio{
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: right;
}
#portfolio h3{
	background-color: #1c3279;
    font-size: 20px;
    margin: 0 20px 0 0;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 8px 8px 9px black;
}
/* MAIN CENTER */
main{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
}
/* ANCHOR TAGS */
a{
    color: #2d9cdb;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}
a:hover{
    color: #1789c9;
}
/* AVATAR */
.avatar{
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #81c4e9;
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 10px;
    min-width: 50px;
    position: relative;
}
.avatar img{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* HEADER TAGS */
.h1{
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
}
.h2{
    color: #a9a9a9;
    font-family: 'open-sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
/* ARTICLES : BORDER, PADDING AND SHADOWS */
article{
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}
/* BLOCKQUOTES : SPACING AROUND*/
blockquote{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
/* BUTTONS */
button{
    border: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    transform: scale(1);
}
button:hover{
    transform: scale(1.2);
}
button:focus{ /* on click */
    outline: none;
}
/* BUTTON CLOSE */
button.close{
    opacity: 0.5;
    position: absolute;
    right: 20px;
    top: 20px;
}
button.close:hover{
    opacity: 1;
}
/* BUTTON HEART */
button.heart{
    float: right;
}
button.heart:hover{
    opacity: 1;
}
/* FOOTER */
footer{
    margin-top: 20px;
    height: 15px;
}
footer p{
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 300;
}
/* Horizontal divider line */
hr{
    border-width: 1px;
    border-style: solid;
    background-color: #eaeaea;
}
/* TIME AND DATE STYLES */
.date-posted{
    color: #a9a9a9;
    margin-bottom: 0;
    width: 90%;
    float: left;
    margin-top: 0;
}
.date-posted time{
    color: #4a4a4a;
}
/* FORM */
button.compose{
    background-color: #2d9cdb;
    border-radius: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}
button.compose:hover{
    background-color: #1789c9;
}
form{
    background-color: #d5ebf8;
    border-width: 1px;
    border-style: solid;
    border-color: #81c4e9;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
textarea{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #81c4e9;
    color: #4a4a4a;
    font-size: 14px;
    height: 50px;
    margin-bottom: 2px;
    padding: 2px;
    resize: none;
    width: 100%;
}
textarea::placeholder{
    color: #a9a9a9;
}
textarea:focus{
    border-color: #2d9cdb;
    outline: none;
}
/* FIELDSET */
fieldset{
    border: none;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: calc(100% - 122px);
}
fieldset div{
    color: #2d9cdb;
    margin-left: 6px;
    margin-top: 2px;
}
/* FORM CLASS ERROR */
form.is-error{
    background-color: #fbbfbf;
    border-color: #ec5e5e;
}
form.is-error textarea{
    border-color: #ec5e5e;
    color: #ec5e5e;
}
form.is-error div{
    color: #ec5e5e;
}
